@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$paper-padding-multiplier: 2;

.main-container {
  display: flex;

  .main-mui-container {
    padding-top: 80px;
    padding-bottom: 32px;
  }
}

.paper {
  padding: 8px * $paper-padding-multiplier;
}

.answer-paper {
  margin: 8px 2px;
}

.login-signup-container {
  padding: $paper-padding-multiplier * 16px;
}


.progress-circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.survey-error {
  border: 1px solid red;
  border-radius: 5px;
}

